[submodule "src/remake"]
	path = src/remake
	url = https://github.com/rocky/remake.git
[submodule "src/pocl"]
	path = src/pocl
	url = https://github.com/pocl/pocl.git
[submodule "src/qt-creator"]
	path = src/qt-creator
	url = https://github.com/qt-creator/qt-creator.git
